#root, body, html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: sans-serif;
    margin: 0 0 30px 0;
    color: #FFF;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about {
    background: #21391e;
}

.login {
    background: #333;
}

.button {
    background: #5938ea;
    padding: 15px 25px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 20px 0px;
}
